%pre Some weather snapper here.
.zipcodeform
  %form{:method => "get"}
    %input#submit{:name => "zipcode", :type => "input", :value => "94530"}/
    %input#submit{:type => "submit"}/

%table
  %tr
    %th Date
    %th POP
  %tbody
    - @forecastday.each do |period|
      %tr
        %td
          = period['period']+1
        %td
          = period['pop']
