%pre Some weather snapper here.
.zipcodeform
  %form{:method => "post"}
    %input#submit{:name => "zipcode", :type => "input", :value => "94530"}/
    %input#submit{:type => "submit"}/

%table
  %tr.snapper
    %th Date
    %th POP
    %th Show me
  %tbody
    - unless @forecastday.nil?
      - @forecastday.each do |period|
        %tr
          %td.date
            - @dd.set_epoch((period['date']['epoch']).to_i)
            = @dd.get_day('day')
          %td.pop
            = "#{period['pop']}"
          %td.icon
            <img src="#{period['icon_url']}" height="64" />
