
= markdown :introduction

.zipcodeform
  %form#zipform{:method => "post", :validate => true}
    %input#postalcode.required{:name => "zipcode", :type => "text", :placeholder => "#{@zipcode}"}/
    %input#submit{:type => "submit", :value => "Get my weather"}/

- unless @forecastday.nil?
  = haml :poptable

