%pre Some weather snapper here.
.zipcodeform
  %form{:method => "post"}
    %input#submit{:name => "zipcode", :type => "input", :value => "#{@zipcode}"}/
    %input#submit{:type => "submit"}/

-#= markdown :testem
- unless @forecastday.nil?
  = haml :poptable

