/**
 * TODO: Switch to sass.
 */

body {
  background-image: url("/img/cardboard_flat.png");
}

tr.snapper {
}


td.icon {
  padding-right: 30px;
}

td.date {
  font-size: 24pt;
  line-height: 48pt;
  padding-right: 30px;
}


td.pop {
  font-size: 36pt;
  line-height: 48pt;
  text-align: right;
}


div.doolin {
  position: fixed;
  bottom: 5px; 
  right: 5px;
}

.shamrock {
  color: #008000;
  font-size: 110%;
}
