---
http_interactions:
- request:
    method: get
    uri: api.openweathermap.org/data/2.5/weather?zip=94530,us&APPID=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3,"lat":37.92},"weather":[{"id":521,"main":"Rain","description":"shower
        rain","icon":"09d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"base":"stations","main":{"temp":287.67,"pressure":1014,"humidity":86,"temp_min":284.25,"temp_max":290.35},"visibility":9656,"wind":{"speed":8.7,"deg":150},"rain":{"1h":2.67},"clouds":{"all":90},"dt":1542834360,"sys":{"type":1,"id":439,"message":0.0048,"country":"US","sunrise":1542812229,"sunset":1542847994},"id":420002820,"name":"Richmond","cod":200}'
      effective_url: http://api.openweathermap.org/data/2.5/weather?zip=94530,us&APPID=<API_KEY>
  recorded_at: Wed, 21 Nov 2018 21:27:11 GMT
recorded_with: VCR 4.0.0
